@model ApplicationAcceptViewModel

<tr>
    <td>
        @Html.HiddenFor(app => app.ApplicationId)
        @Html.DisplayFor(app => app.AppUserName)
    </td>
    <td>
        <div class="form-check">
            <input asp-for="IsAccepted" type="radio" value="true" class="form-check-input" id="acceptBtn" checked="checked" />
            <label class="form-check-label" for="acceptBtn">Да</label>
        </div>
        <div class="form-check">
            <input asp-for="IsAccepted" type="radio" value="false" class="form-check-input" id="rejectBtn" />
            <label class="form-check-label" for="rejectBtn">Нет</label>
        </div>
    </td>
</tr>