@model MakeTransactionViewModel

<div class="row justify-content-center">
    <div class="col-md-8 col-xl-6">
        <div class="card my-3 rounded-0">
            <div class="card-body">
                <h5 class="card-title text-center my-3">Вывод средств</h5>
                <form method="post" asp-action="MakeWithdraw" asp-controller="Account">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="mb-3">
                        <input asp-for="CtAccountId" hidden="hidden">
                        <input asp-for="DtAccountId" hidden="hidden">
                        <label asp-for="Amount" class="form-label"></label>
                        <input asp-for="Amount" class="form-control rounded-0" type="number" min="0">
                        <span class="text-danger" asp-validation-for="Amount"></span>
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-lg btn-dark rounded-0">Заказать вывод средств</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
