@using DataAccessLogic.DatabaseModels
@using System.Globalization

@model List<ApplicationAcceptViewModel>
@{
    ViewData["Title"] = "Список поданных заявок";
}

<div class="col-lg-10 col-xl-9">
    <h5 class="py-3 text-center">Список поданных заявок</h5>
    <div class="table-responsive">
        <table class="table table-bordered border-light text-center">
            <thead>
                <tr>
                    <th scope="col">Имя пользователя</th>
                    <th scope="col">Допуск до аукциона</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplicationAcceptViewModel app in Model)
                {
                    await Html.RenderPartialAsync("ApplicationAccept", app);
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 col-xl-3">
        <a class="btn btn-lg btn-dark rounded-0 d-block">Сохранить</a>
    </div>
</div>